body{
	background: linear-gradient(75deg,rgb(125, 114, 17) 1%, rgb(28, 115, 133) 100%);
	background-attachment: fixed;
	font-family: 'Lora', serif;
	margin: 0;
}
#nav{
	position: fixed;
	background-color: rgb(255, 253, 130);
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
.navs{
	font-size: 20px;
	float: left;
	padding: 8px;
	text-decoration: none;
	color: salmon;
	border-left: solid orange 2px;
	text-align: center;
}
.navs:hover{
	background-color: darkkhaki;
}
#title{
	font-size: 70px;
	color: white;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: solid 3px gold;
}
.col{
	float: left;
	width: 33.3%;
	text-align: center; 
	overflow: hidden;
}
.col img {
        width: 100%;
        height: 500px;
        margin: -20px 0px -30px 0px;
    }
.col2{
	float: left;
	width: 48%;
	text-align: center;
	color: white;
	font-size: 25px;
	padding: 10px 10px 10px 10px;
	
}
.col3{
	float: left;
	width: 50%;
	text-align: center;
	font-size: 25px;
	color: white;
}
#quest{

	background-color: wheat;
}
form{
	color: white;
	border: dashed 3px salmon;
}
.vd{
	float: left;
	width: 50%;
	color: salmon;
	text-align: center;
}
#p1{text-align: left;}
iframe{width: 585px;
 height: 390px;
 border-style: inset;
 border-width: 15px;
 border-color: cornsilk;
}
 #quest:hover{
 	color: aquamarine;
}