#body3{
	background-image: url(https://cdn.pixabay.com/photo/2017/06/19/11/44/watercolor-2419052_1280.jpg); background-position: top; background-repeat: no-repeat; background-size: 100%; background-attachment:fixed; color: wheat;
}
#nav3{
	position: fixed;
}
.nav3{
	font-size: 20px; text-decoration: none; background-color: lightseagreen; color: white; padding: 10px 10px 10px 10px; margin: -5px;
}
#title3{
	font-size: 250%; color: white;
}
#newstitle{
	background-color: lightseagreen; color: white;
}
.content1{
	float: left; width: 50%; text-align: center; line-height: 200%;
}
.content2{
	float: left; width: 50%; text-align: center;
}
.content3{
	float: left; width: 33.3%; text-align: center; line-height: 250%; margin-top: 70px;
}
#placeholder{
	margin: 10px 0px 10px 0px;
}
#ending{
	color: burlywood;
}
#hr3{
	border-top: 4px solid lightseagreen;
 	border-radius: 5px;
}
#placeholder2{
	padding: 50px 0px 50px 0px;
}
header{
	padding: 20px; background-color: steelblue; text-align: center; margin-bottom: -22px;
}